<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="post-container">
        <h1 style="text-align: center;">Posts</h1>
        <a href="http://localhost:8080/posts/new"><button>Create New Post</button></a>
        <% for(post of posts){ %>
            <div class="post">
                <h3>
                    <%= post.username %>
                </h3>
                <p>
                    <%= post.content %>
                </p>
                <p>Id : <%= post.id %></p>
                
                <a href="http://localhost:8080/posts/<%= post.id %>"><button>View Post in detail</button></a>
                <a href="http://localhost:8080/posts/edit/<%= post.id %>"><button>Edit post</button></a>
                <form style="display: inline-block;"  action="/posts/<%= post.id %>?_method=DELETE" method="post">
                    <button type="submit">Delete post</button>
                </form>

            </div>
            <% } %>
    </div>

</body>

</html>